@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Jakarta';
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@import "tailwindcss";

@theme {
  --font-sans: 'Jakarta', sans-serif;
}

html {
  font-family: var(--font-sans);
  font-weight: 500;
}
